/* CSS VARIABLES */
:root {
    /* credit for gradients to uigradients.com */
    --linear-gradient-1: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Dark Night (dark) */
    --linear-gradient-2: linear-gradient(to right, #8f94fb, #4e54c8); /* Ocean View (light) */
    --linear-gradient-3: linear-gradient(to right, #493240, #ff0099); /* Yoda Empire(reddish) */
    --navigation-color-1: white;
    --navigation-color-2: white;
    --navigation-color-3: white;
    --heading-color-1: black;
    --heading-color-2: black;
    --heading-color-3: black;
    --text-color-1: grey;
    --text-color-2: grey;
    --text-color-3: grey;
}

/* CSS RESET & GENERAL STYLES */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; /* inherits the border-box from body */
}
html {
    font-size: 62.5%; /* => 10px equals 1rem */
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem; /* equals 16px */
    font-family: sans-serif;
    min-height: 100vh; /* <--- check */
    display: flex;
    flex-direction: column;
    background: var(--linear-gradient-1);

    color: #fff;
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}
.hide-element {
    display: none;
}

/* HEADER & NAVIGATION STYLES */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    padding: 1.6rem;
}
.header__logo {
    padding-left: 1.6rem;
    font-family: "Dancing Script", cursive;
    font-size: 3.2rem;
    animation: slideInRight 1s ease-out;
}
.header__nav--main {
    position: fixed;
    z-index: 98;
    top: 0;
    left: -100%;
    width: 100vw;
    min-height: 100vh;
    background-color: #302b63;
    /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    transition: left 0.5s;
}
.header__nav--main.is-active {
    left: 0;
    text-align: center;
}
.header__nav--main li a {
    padding: 1.6rem;
    transition: all 1s;
    border-bottom: 0.5px solid transparent;
    border-bottom: 2px solid transparent;
}
.header__nav--main li a:hover {
    color: cyan;
    color: #b2fa46;
    border-color: cyan;
    border-color: #b2fa46;
    border-width: 2px;
}
.header__nav--main li a.btn-contact {
    background-color: #75be07;
    color: white;
    border-radius: 20px;
}
.header__nav .header__nav--main .color-palette-icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #75be07;
    fill: cyan;
    fill: white;
    /* background-color: #8404d9; */
    border-radius: 50%;
    padding: 0;
    /* margin-left: 2rem; */
    margin-top: 3rem;
    align-self: center;
    transition: all 0.3s;
}
.header__nav .header__nav--main .color-palette-icon:hover {
    fill: #75be07;
    fill: cyan;
    fill: #b2fa46;
    cursor: pointer;
    transform: scale(1.05) rotate(30deg);
}
#color-palette-preview {
    /* display: none; */
    position: absolute;
    width: 100px;
    top: 75%;
    left: 25%;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background: yellow;
    /* transform: translate(130px, 200px); */
    border: 2px solid white;
}
.color-palette-icon:hover #color-palette-preview {
    display: block;
}
.hamburger {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 1.7rem;
    right: 0.8rem;
    width: 40px;
    height: 40px;
    background: #302b63;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    animation: slideInLeft 1s ease-out;
}
.hamburger__bar,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: #fff;
    margin: 6px auto;
    transition: 0.5s;
}
/* when the hamburger icon gehts clicked -> .is-active class gets activated: */
/* 1. the middle bar disappears */
.hamburger.is-active .hamburger__bar {
    opacity: 0;
}
/* 2. the upper bar rotates down */
.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
/* 3. the lower bar rotates up */
.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

/* MAIN CONTENT STYLES */
main {
    max-width: 1200px;
    font-size: 1.9rem;
    color: #270160;
    margin: 0 auto;
}
main section {
    background-color: #faeeee;
    padding: 4.8rem 3.2rem;
    border-radius: 5px;
    margin-bottom: 8rem;
    animation: fadeIn 1.5s ease-out;
}
main section h2 {
    margin-bottom: 2rem;
}
/* portfolio section */
.portfolio-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
}
.portfolio-images img {
    max-width: 100%;
    border: 5px solid #270160;
    border: 5px solid hsl(246, 55%, 40%);
    border-radius: 10px;
}
.image-container {
    position: relative;
}
.figcaption-container {
    transition: all 0.5s;
    letter-spacing: 0.15rem;
}
.figcaption-container figcaption {
    display: none;
}
.figcaption-container figcaption h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    letter-spacing: 0.2rem;
}
.figcaption-container figcaption a {
    background-color: #302b63;
    color: #302b63;
    background-color: white;
    color: #5348d0;
    font-weight: bold;
    display: inline-block;
    padding: 1rem 1.2rem;
    margin-top: 2.5rem;
    /* font-size: 1rem; */
    border-radius: 10px;
}
.image-container:hover .figcaption-container {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgba(48, 43, 99, 0.8);
    width: 100%;
    height: 98%;
    border: 5px solid #9eacfa;
    border: 5px solid hsl(246, 55%, 55%);
    border: 5px solid hsl(246, 55%, 10%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container:hover .figcaption-container figcaption {
    display: block;
    position: absolute;
    z-index: 1000;
    color: black;
    /* background-color: white; */
    color: white;
    font-size: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

/* FOOTER STYLES */
footer {
    padding: 8rem 0;
    margin: 0 auto;
    font-size: 2rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header__logo {
        font-size: 4rem;
    }
    .header__nav--main {
        position: static;
        flex-direction: row;
        width: auto;
        min-height: auto;
        gap: 0;
        background-color: transparent;
        animation: slideInLeft 1s ease-out;
    }
    .header__nav--main li {
        padding: 1.6rem;
    }
    .header__nav .header__nav--main .color-palette-icon {
        margin-left: 2rem;
        margin-top: 0;
    }
    #color-palette-preview {
        display: none !important;
        /* opacity: 0;
        width: 500px; */
    }
    .hamburger {
        display: none;
    }
    .portfolio-images {
        grid-template-columns: 1fr 1fr;
    }
    .figcaption-container figcaption h3 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    .image-container:hover .figcaption-container figcaption {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        margin-bottom: 3.2rem;
    }
    .portfolio-images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* KEYFRAME ANIMATION STYLES */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    80% {
        transform: translateX(3vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    80% {
        transform: translateX(-3vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
