/* CSS RESET & GENERAL STYLES */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; /* inherits the border-box from body */
}
html {
    font-size: 62.5%; /* => 10px equals 1rem */
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem; /* equals 16px */
    font-family: sans-serif;
    min-height: 100vh; /* <--- check */
    display: flex;
    flex-direction: column;

    /* linear gradient - credit to uigradients.com */
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* / linear gradient - credit to uigradients.com */

    color: #fff;
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}
.hide-element {
    display: none;
}

/* HEADER & NAVIGATION STYLES */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    padding: 1.6rem;
}
.header__logo {
    padding-left: 1.6rem;
    font-family: "Dancing Script", cursive;
    font-size: 3.2rem;
    animation: slideInRight 1s ease-out;
}
.header__nav--main {
    position: fixed;
    z-index: 98;
    top: 0;
    left: -100%;
    width: 100vw;
    min-height: 100vh;
    background-color: #302b63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.5s;
}
.header__nav--main.is-active {
    left: 0;
    text-align: center;
}
.header__nav--main li {
    padding: 2rem 0;
}
.hamburger {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 1.7rem;
    right: 0.8rem;
    width: 40px;
    height: 40px;
    background: #302b63;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    animation: slideInLeft 1s ease-out;
}
.hamburger__bar,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: #fff;
    margin: 6px auto;
    transition: 0.5s;
}
/* when the hamburger icon gehts clicked -> .is-active class gets activated: */
/* 1. the middle bar disappears */
.hamburger.is-active .hamburger__bar {
    opacity: 0;
}
/* 2. the upper bar rotates down */
.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
/* 3. the lower bar rotates up */
.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

/* MAIN CONTENT STYLES */
main {
    max-width: 1000px;
    font-size: 1.9rem;
    background-color: #faeeee;
    color: #270160;
    padding: 4.8rem 3.2rem;
    margin: 0 auto;
    border-radius: 5px;
    animation: fadeIn 1.5s ease-out;
}

/* KEYFRAME ANIMATION STYLES */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    80% {
        transform: translateX(3vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    80% {
        transform: translateX(-3vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
